<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title>Categorias</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>Alergologia‎</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Anatomia patológica</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Andrologia‎</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Anestesiologia</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Angiologia</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Audiologia</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Cardiologia</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Clínica médica</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Dermatologia</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Endocrinologia‎</ion-label>
          </ion-item>
          <ion-item>
              <ion-label>Epidemiologia‎</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Medicina esportiva</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Gastroenterologia‎</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Geriatria‎</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Gerontologia‎</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Ginecologia</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Hematologia</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Hepatologia</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Imunologia‎</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Infectologia</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>Mastologia‎</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Medicina de emergência</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Medicina de família e comunidade</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Medicina de transplantes‎</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Medicina do trabalho‎</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Medicina intensiva</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Medicina legal</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Medicina nuclear</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Medicina tropical</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Nefrologia</ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label>Neonatologia</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label>Neurologia</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label>Obstetrícia‎</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label>Oftalmologia</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-label>Oncologia‎</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Ortopedia‎</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>Otorrinolaringologia</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>Patologia clínica‎</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>Pediatria</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>Pneumologia</ion-label>
                      </ion-item>
      </ion-list>
</ion-content>
