<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>cadastro</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="titulo">
    <h1 class="cadastro">Cadastro</h1>
  </div>
  <form [formGroup]="cadastroForm">
    <ion-item>
      <ion-label position="floating">Nome Completo</ion-label>
      <ion-input formControlName="nome" type='text'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data Nacimento</ion-label>
      <ion-input formControlName="data" type='date'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input formControlName="email" type='email'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input formControlName="password" type='password'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CEP</ion-label>
      <ion-input formControlName="cep" type='text' (ionBlur)="cepKeyUp($event)" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rua</ion-label>
      <ion-input formControlName="rua" type='text'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bairro</ion-label>
      <ion-input formControlName="bairro" type='text'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cidade</ion-label>
      <ion-input formControlName="cidade" type='text'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Número</ion-label>
      <ion-input formControlName="numero" type='number'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Estado</ion-label>
      <ion-select formControlName="estado">
        <ion-select-option *ngFor="let u of uf" >{{u.sigla}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Convênio</ion-label>
      <ion-select formControlName="convenio">
        <ion-select-option *ngFor="let u of agreements" value={{u._id}} >{{u.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
  <ion-button class="btn-cadastro" (click)="createUser()">Cadastrar</ion-button>
</ion-content>
