<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-button fill="clear" id="btn-editar" (click)="show()">Editar</ion-button>
    <div class="row">
      <form [formGroup]="updateForm">
        <ion-item>
          <ion-label position="floating">Nome Completo:</ion-label>
          <ion-input formControlName="nome" type='text' disabled="{{isAvaliable}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Data Nacimento:</ion-label>
          <ion-input formControlName="data" type='date' disabled="{{isAvaliable}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-mail:</ion-label>
          <ion-input formControlName="email" type='email' disabled="{{isAvaliable}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">CEP:</ion-label>
          <ion-input formControlName="cep" type='text' disabled="{{isAvaliable}}" (ionBlur)="cepKeyUp($event)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Rua:</ion-label>
          <ion-input formControlName="rua" type='text' disabled="{{isAvaliable}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Bairro:</ion-label>
          <ion-input formControlName="bairro" type='text' disabled="{{isAvaliable}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Número:</ion-label>
          <ion-input formControlName="numero" type='number' disabled="{{isAvaliable}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cidade:</ion-label>
          <ion-input formControlName="cidade" type='text' disabled="{{isAvaliable}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Estado:</ion-label>
          <ion-select formControlName="estado" disabled="{{isAvaliable}}">
            <ion-select-option *ngFor="let u of uf" >{{u.sigla}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Convênio:</ion-label>
          <ion-select  formControlName="convenio" disabled="{{isAvaliable}}">
            <ion-select-option *ngFor="let u of agreements" value={{u._id}} >{{u.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button fill="clear" id="btn-salvar" *ngIf="showComp" (click)="updateUser()">Salvar</ion-button>
      </form>
    </div>
  </div>
</ion-content>
