.titulo label {
    display: block;
    margin-top: 35px;
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
    color: rgb(35, 148, 172);
    font-family: arial;
}
.form{
  margin-top: 120px;
}
// #email{
//     margin-bottom: 15px;
//     margin-top: 15px;
//     font-family: Arial;
//     margin-left: 74px;
//     margin-right: 51px;
// }
// #senha{
//     font-family: Arial;
//     margin-left: 74px;
//     margin-right: 51px;
// }
// .email{
//     display: block;
//     margin-top: 60px;
//     font-weight: bold;
//     font-size: 25px;
//     color: rgb(35, 148, 172);
//     text-align: center;
// }
// .senha{
//     font-weight: bold;
//     font-size: 25px;
//     color: rgb(35, 148, 172);
//     margin-top: 38px;
//     display: block;
//     text-align: center;
// }
// .input-login{
//     font-size: 25px;
//     background-color: #fff;
//     border: none;
//     border-bottom: rgb(35, 148, 172) solid 3px;
//     font-family: arial;
//     font-weight: bold;
//     color: rgb(35, 148, 172);
//     margin-left: 14px;
// }
// .input-senha{
  // font-size: 25px;
  // background-color: #fff;
  // font-family: arial;
  // font-weight: bold;
  // border: none;
  // border-bottom: rgb(35, 148, 172) solid 3px;
  // color: rgb(35, 148, 172);
  // margin-left: 14px;
// }
.btn-entrar{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 35px;;
    margin-bottom: auto;
    width: 30%;
    height: 50px;
}