<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="titulo">
    <label for="titulo">Login</label>
  </div>
  <!-- <div class="form"> -->
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input formControlName="email" type='text'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input formControlName="password" type='password'></ion-input>
    </ion-item>
    <ion-button [disabled]="!loginForm.valid" class="btn-entrar" (click)="openBuscarPage()">Entrar</ion-button>
  </form>
  <!-- </div> -->
</ion-content>
