<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="titulo">
    <label for="titulo">Login</label>
  </div>
  <div class="form">
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type='email'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type='password'></ion-input>
    </ion-item>
    <ion-button class="btn-entrar" click="open">Entrar</ion-button>
  </div>
</ion-content>
