ion-content {
    --ion-background-color: #B4D2EC;
}
.cards{
    border-radius: 10px;
    background-color: #Fff;
}
.share{
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 20px;
}
.add{
    position: absolute;
    right: 40px;
    top: 20px;
    font-size: 20px;
}