<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Historico de Consultas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <ion-card class="cards" button (click)="openBuscarPage()">
    <ion-card-header>
        <ion-icon class="share" name="share"></ion-icon>
        <ion-icon class="add" name="add"></ion-icon>
      <ion-card-subtitle>Clínica Médica São José</ion-card-subtitle>
      <ion-card-title>Exame de Sangue</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Exame realizado em 14/05/2019,
      com validade de 1 ano.
    </ion-card-content>
  </ion-card>
  <ion-card class="cards" button (click)="openBuscarPage()">
    <ion-card-header>
        <ion-icon class="share" name="share"></ion-icon>
        <ion-icon class="add" name="add"></ion-icon>
      <ion-card-subtitle>Clínica de Cardiologia São José</ion-card-subtitle>
      <ion-card-title>Exame Ergométrico</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Exame realizado em 16/06/2019,
      com validade de 1 ano.
    </ion-card-content>
  </ion-card>
  <ion-card class="cards" button (click)="openBuscarPage()">
    <ion-card-header>
        <ion-icon class="share" name="share"></ion-icon>
        <ion-icon class="add" name="add"></ion-icon>
      <ion-card-subtitle>Clínica de Radiologia São José</ion-card-subtitle>
      <ion-card-title>Ultra Sonografia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Exame realizado em 17/06/2019,
      com validade de 1 ano.
    </ion-card-content>
  </ion-card>
  <ion-card class="cards" button (click)="openBuscarPage()">
    <ion-card-header>
        <ion-icon class="share" name="share"></ion-icon>
        <ion-icon class="add" name="add"></ion-icon>
      <ion-card-subtitle>Clínica de Radiologia São José</ion-card-subtitle>
      <ion-card-title>Tomografia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Exame realizado em 17/06/2019,
      com validade de 1 ano.
    </ion-card-content>
  </ion-card>
</ion-content>

