<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar showCancelButton="always"></ion-searchbar>
  <h2>Buscar Recentes</h2>
  <p>Cardiologista</p>
  <h2>Categorias</h2>
  <a href="#">Todas as categorias</a>
  <ion-row>
    <ion-col><ion-button>
      Cardiologista
    </ion-button></ion-col>
    <ion-col><ion-button>
      Pediatra
    </ion-button></ion-col>
  </ion-row>
  <ion-row>
      <ion-col><ion-button>
        Psicólogo
      </ion-button></ion-col>
      <ion-col><ion-button>
        Oftalmologista
      </ion-button></ion-col>
    </ion-row>
    <ion-row>
        <ion-col><ion-button>
          Ortopedista
        </ion-button></ion-col>
        <ion-col><ion-button>
          Ortodontista
        </ion-button></ion-col>
      </ion-row>
</ion-content>
