<ion-header>
  <ion-toolbar>
    <ion-title>buscar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="search">
    <input id="input-search" type="text" placeholder="Busque Aqui">
    <ion-icon id="search-icon" name="search"></ion-icon>
  </div>
  <h1 id="busca-recente">Buscas Recentes</h1>
  <ion-icon id="recente-icon" name="refresh"></ion-icon>
  <p>Cardiologista</p>
  <h1 id="categorias">Categoria</h1>
  <button id="cardiologista" href="/home/gabriel/Documents/App/Docplus/Docplus/src/app/resultados/resultados.page.html">Cardiologista</button>
  <button id="psicologo">Psicólogo</button>
  <button id="pediatra">Pediatra</button>
  <button id="oftalmo">Oftalmologista</button>
  <button id="pneu">Pneumologista</button>
  <button id="endo">Endrócrinologista</button>
</ion-content>
