<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar 
    showCancelButton="always" 
    animated
    autocomplete="on"
    autocorrect="on"
    [spellcheck]="true"
    (search)="search()"
    [(ngModel)]="query"
  ></ion-searchbar>
  
  <h2>Buscas Recentes</h2>
  <p>Cardiologista</p>
  
  <h2>Categorias</h2>
  <a href="#">Todas as categorias</a>
  <ion-row>
    <ion-col *ngFor="let s of services" size="6">
        <ion-button (click)="searchByService(s.service)">{{s.service}}</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
