<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Meus contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Conversas recentes</ion-list-header>

    <button (click)="openChatPage()">
      <ion-avatar slot="start">
        <img src="https://via.placeholder.com/150">
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>Visto às 14 horas</h3>
        <p>Você ta legal...</p>
      </ion-label>
    </button>

    <button (click)="openChatPage()">
      <ion-avatar slot="start">
        <img src="https://via.placeholder.com/150">
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </button>

    <button (click)="openChatPage()">
      <ion-avatar slot="start">
        <img src="https://via.placeholder.com/150">
      </ion-avatar>
      <ion-label>
        <h2>Rey</h2>
        <h3>I can handle myself</h3>
        <p>You will remove these restraints and leave...</p>
      </ion-label>
    </button>

    <button (click)="openChatPage()">
      <ion-avatar slot="start">
        <img src="https://via.placeholder.com/150">
      </ion-avatar>
      <ion-label>
        <h2>Luke</h2>
        <h3>Your thoughts betray you</h3>
        <p>I feel the good in you, the conflict...</p>
      </ion-label>
    </button>
  </ion-list>
  <ion-list>
    <ion-list-header>Outras clinicas do seu convenio</ion-list-header>
    <button (click)="openChatPage()">
      <ion-avatar slot="start">
        <img src="https://via.placeholder.com/150">
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>Visto às 14 horas</h3>
        <p>Você ta legal...</p>
      </ion-label>
    </button>

    <button (click)="openChatPage()">
      <ion-avatar slot="start">
        <img src="https://via.placeholder.com/150">
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </button>

    <button (click)="openChatPage()">
      <ion-avatar slot="start">
        <img src="https://via.placeholder.com/150">
      </ion-avatar>
      <ion-label>
        <h2>Rey</h2>
        <h3>I can handle myself</h3>
        <p>You will remove these restraints and leave...</p>
      </ion-label>
    </button>

    <button (click)="openChatPage()">
      <ion-avatar slot="start">
        <img src="https://via.placeholder.com/150">
      </ion-avatar>
      <ion-label>
        <h2>Luke</h2>
        <h3>Your thoughts betray you</h3>
        <p>I feel the good in you, the conflict...</p>
      </ion-label>
    </button>
  </ion-list>
</ion-content>
